# --- Sourcetree Generated ---

Host github.com
HostName github.com
User aritra2021
PreferredAuthentications publickey
IdentityFile /<user_path>/.ssh/aritra2021-GitHub
UseKeychain yes
AddKeysToAgent yes

# --- Sourcetree Generated ---
Host github.com-personal
HostName github.com
User aritra1999
PreferredAuthentications publickey
IdentityFile /<user_path>/.ssh/aritra1999-GitHub
UseKeychain yes
AddKeysToAgent yes
# ----------------------------
